body{
    font-family: "Quicksand", sans-serif;
}
.card{
    border-radius: 20px;
    border: none;
    margin: 0 auto;

}
.card_image:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    transform: scale(1.1);
  }
.card_image{
    border-radius: 20px;
    cursor: pointer;
}
.card_body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.titolo:hover img.more_icon{
    height: 1.6rem;
    content: url(/src/assets/arrow_blu_destra.png);
}
.titolo:hover h1.puntini{
    display: contents;
    
}
.titolo:hover{
    color: #15e0f3;
}
.card-title {
    max-height: 3em; /* Enough to accommodate two lines */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -moz-line-clamp: 2;
    -ms-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
}